/* minden beviteli mezőre érvényes */
input {
    margin: 5px;
}
/* csak az adott típusú bev-i mezőre érvényes */
input[type=submit]{
    background-color: #add8e6;
    
}
/* az aktuálisan íródó mező tulajdonsága */
input[type=text]:focus {
    background-color: lightblue;
}
input[type=number]{
    width: 50px;
}

div{
    text-align: center;
}
  